In [25]:
import pyspark
from pyspark.sql import functions as F

In [2]:
spark = pyspark.sql.SparkSession.builder.appName("Strava Analysis").getOrCreate()

In [ ]:
# Download data frame
run_df = spark.read.csv("../data/final/strava_run_activities.csv", header=True, inferSchema=True)

In [ ]:
# Create a temporary view for SQL queries
run_df.createOrReplaceTempView("run_df")

In [ ]:
# Example analysis: Count runs by gear
run_df.groupBy('Activity Gear').count().show()

+--------------------+-----+
|       Activity Gear|count|
+--------------------+-----+
|    HOKA Mach 6 Biel|   44|
| HOKA Bondi 8 Błękit|   32|
|                NULL|   40|
|HOKA Clifton 9 Po...|  117|
+--------------------+-----+

In [ ]:
# Alternative SQL query to count runs by gear
spark.sql("SELECT `Activity Gear`, COUNT(*) as count FROM run_df GROUP BY `Activity Gear`").show()

+--------------------+-----+
|       Activity Gear|count|
+--------------------+-----+
|    HOKA Mach 6 Biel|   44|
| HOKA Bondi 8 Błękit|   32|
|                NULL|   40|
|HOKA Clifton 9 Po...|  117|
+--------------------+-----+

In [ ]:
# Example analysis: Sum distances by gear
run_df.groupBy('Activity Gear').sum('Distance').show()

+--------------------+------------------+
|       Activity Gear|     sum(Distance)|
+--------------------+------------------+
|    HOKA Mach 6 Biel|250.61999999999986|
| HOKA Bondi 8 Błękit|256.52000000000004|
|                NULL|280.71999999999997|
|HOKA Clifton 9 Po...| 802.8499999999999|
+--------------------+------------------+

In [ ]:
# Alternative SQL query to sum distances by gear
spark.sql("SELECT `Activity Gear`, SUM(Distance) as total_distance FROM run_df GROUP BY `Activity Gear`").show()

+--------------------+------------------+
|       Activity Gear|    total_distance|
+--------------------+------------------+
|    HOKA Mach 6 Biel|250.61999999999986|
| HOKA Bondi 8 Błękit|256.52000000000004|
|                NULL|280.71999999999997|
|HOKA Clifton 9 Po...| 802.8499999999999|
+--------------------+------------------+

In [ ]:
# Example analysis: Count runs by gear, month and year
run_df.groupBy(["Year", "Month", "Activity Gear"]).count().orderBy(["Year", "Month", "Activity Gear"]).show()

+----+-----+--------------------+-----+
|Year|Month|       Activity Gear|count|
+----+-----+--------------------+-----+
|2023|    8|                NULL|    4|
|2023|    9|                NULL|   13|
|2023|   10|                NULL|    7|
|2023|   11|                NULL|    4|
|2023|   12|                NULL|    4|
|2024|    1|                NULL|    6|
|2024|    2|                NULL|    1|
|2024|    2|HOKA Clifton 9 Po...|    9|
|2024|    3|HOKA Clifton 9 Po...|    5|
|2024|    4|HOKA Clifton 9 Po...|    9|
|2024|    5|HOKA Clifton 9 Po...|   10|
|2024|    6|HOKA Clifton 9 Po...|   11|
|2024|    7|HOKA Clifton 9 Po...|    7|
|2024|    8|HOKA Clifton 9 Po...|    4|
|2024|    9|HOKA Clifton 9 Po...|    9|
|2024|   10|HOKA Clifton 9 Po...|   14|
|2024|   11|HOKA Clifton 9 Po...|   10|
|2024|   12|HOKA Clifton 9 Po...|    9|
|2025|    1| HOKA Bondi 8 Błękit|    5|
|2025|    1|HOKA Clifton 9 Po...|   15|
+----+-----+--------------------+-----+
only showing top 20 rows

In [ ]:
# Alternative SQL query to count runs by gear, month and year
spark.sql("SELECT `Year`, `Month`, `Activity Gear`, COUNT(*) as count FROM run_df GROUP BY `Year`, `Month`, `Activity Gear` ORDER BY `Year`, `Month`, `Activity Gear`").show()

+----+-----+--------------------+-----+
|Year|Month|       Activity Gear|count|
+----+-----+--------------------+-----+
|2023|    8|                NULL|    4|
|2023|    9|                NULL|   13|
|2023|   10|                NULL|    7|
|2023|   11|                NULL|    4|
|2023|   12|                NULL|    4|
|2024|    1|                NULL|    6|
|2024|    2|                NULL|    1|
|2024|    2|HOKA Clifton 9 Po...|    9|
|2024|    3|HOKA Clifton 9 Po...|    5|
|2024|    4|HOKA Clifton 9 Po...|    9|
|2024|    5|HOKA Clifton 9 Po...|   10|
|2024|    6|HOKA Clifton 9 Po...|   11|
|2024|    7|HOKA Clifton 9 Po...|    7|
|2024|    8|HOKA Clifton 9 Po...|    4|
|2024|    9|HOKA Clifton 9 Po...|    9|
|2024|   10|HOKA Clifton 9 Po...|   14|
|2024|   11|HOKA Clifton 9 Po...|   10|
|2024|   12|HOKA Clifton 9 Po...|    9|
|2025|    1| HOKA Bondi 8 Błękit|    5|
|2025|    1|HOKA Clifton 9 Po...|   15|
+----+-----+--------------------+-----+
only showing top 20 rows

In [ ]:
# Example analysis: Count runs by month and year
run_df.groupBy(['Year', 'Month']).count().orderBy(['Year', 'Month']).show()

+----+-----+-----+
|Year|Month|count|
+----+-----+-----+
|2023|    8|    4|
|2023|    9|   13|
|2023|   10|    7|
|2023|   11|    4|
|2023|   12|    4|
|2024|    1|    6|
|2024|    2|   10|
|2024|    3|    5|
|2024|    4|    9|
|2024|    5|   10|
|2024|    6|   11|
|2024|    7|    7|
|2024|    8|    4|
|2024|    9|    9|
|2024|   10|   14|
|2024|   11|   10|
|2024|   12|    9|
|2025|    1|   20|
|2025|    2|   11|
|2025|    3|   13|
+----+-----+-----+
only showing top 20 rows

In [ ]:
# Alternative SQL query to count runs by month and year
spark.sql("SELECT `Year`, `Month`, COUNT(*) as count FROM run_df GROUP BY `Year`, `Month` ORDER BY `Year`, `Month`").show()

+----+-----+-----+
|Year|Month|count|
+----+-----+-----+
|2023|    8|    4|
|2023|    9|   13|
|2023|   10|    7|
|2023|   11|    4|
|2023|   12|    4|
|2024|    1|    6|
|2024|    2|   10|
|2024|    3|    5|
|2024|    4|    9|
|2024|    5|   10|
|2024|    6|   11|
|2024|    7|    7|
|2024|    8|    4|
|2024|    9|    9|
|2024|   10|   14|
|2024|   11|   10|
|2024|   12|    9|
|2025|    1|   20|
|2025|    2|   11|
|2025|    3|   13|
+----+-----+-----+
only showing top 20 rows

In [ ]:
# Example analysis: Sum distances by year
run_df.groupBy("Year").sum("Distance").orderBy("Year").show()

+----+------------------+
|Year|     sum(Distance)|
+----+------------------+
|2023|205.48999999999998|
|2024| 729.0400000000001|
|2025| 656.1799999999998|
+----+------------------+

In [ ]:
# Alternative SQL query to sum distances by year
spark.sql("SELECT `Year`, SUM(`Distance`) as total_distance FROM run_df GROUP BY `Year` ORDER BY `Year`").show()

+----+------------------+
|Year|    total_distance|
+----+------------------+
|2023|205.48999999999998|
|2024| 729.0400000000001|
|2025| 656.1799999999998|
+----+------------------+

In [ ]:
# Example analysis: Count runs by weekday
run_df.groupBy("Weekday").count().orderBy("Weekday").show()

+-------+-----+
|Weekday|count|
+-------+-----+
|      0|   36|
|      1|   18|
|      2|   26|
|      3|   26|
|      4|   14|
|      5|   80|
|      6|   33|
+-------+-----+

In [ ]:
# Alternative SQL query to count runs by weekday
spark.sql("SELECT `Weekday`, COUNT(*) as count FROM run_df GROUP BY `Weekday` ORDER BY `Weekday`").show()

+-------+-----+
|Weekday|count|
+-------+-----+
|      0|   36|
|      1|   18|
|      2|   26|
|      3|   26|
|      4|   14|
|      5|   80|
|      6|   33|
+-------+-----+

In [ ]:
# Example analysis: Sum distances by gear, month and year
run_df.groupBy(["Year", "Month", "Activity Gear"]).sum("Distance").orderBy(["Year", "Month", "Activity Gear"]).show()

+----+-----+--------------------+------------------+
|Year|Month|       Activity Gear|     sum(Distance)|
+----+-----+--------------------+------------------+
|2023|    8|                NULL|15.870000000000001|
|2023|    9|                NULL|              71.9|
|2023|   10|                NULL| 53.94000000000001|
|2023|   11|                NULL|29.159999999999997|
|2023|   12|                NULL|             34.62|
|2024|    1|                NULL|55.879999999999995|
|2024|    2|                NULL|              9.34|
|2024|    2|HOKA Clifton 9 Po...|             76.23|
|2024|    3|HOKA Clifton 9 Po...|             58.61|
|2024|    4|HOKA Clifton 9 Po...|             71.81|
|2024|    5|HOKA Clifton 9 Po...|             74.39|
|2024|    6|HOKA Clifton 9 Po...| 66.60000000000001|
|2024|    7|HOKA Clifton 9 Po...| 70.16999999999999|
|2024|    8|HOKA Clifton 9 Po...|             35.81|
|2024|    9|HOKA Clifton 9 Po...|             45.07|
|2024|   10|HOKA Clifton 9 Po...| 69.60999999999999|
|2024|   11|HOKA Clifton 9 Po...|54.019999999999996|
|2024|   12|HOKA Clifton 9 Po...|              41.5|
|2025|    1| HOKA Bondi 8 Błękit|             36.11|
|2025|    1|HOKA Clifton 9 Po...| 94.10000000000001|
+----+-----+--------------------+------------------+
only showing top 20 rows

In [ ]:
# Alternative SQL query to sum distances by gear, month and year
spark.sql("SELECT `Year`, `Month`, `Activity Gear`, SUM(`Distance`) as total_distance FROM run_df GROUP BY `Year`, `Month`, `Activity Gear` ORDER BY `Year`, `Month`, `Activity Gear`").show()

+----+-----+--------------------+------------------+
|Year|Month|       Activity Gear|    total_distance|
+----+-----+--------------------+------------------+
|2023|    8|                NULL|15.870000000000001|
|2023|    9|                NULL|              71.9|
|2023|   10|                NULL| 53.94000000000001|
|2023|   11|                NULL|29.159999999999997|
|2023|   12|                NULL|             34.62|
|2024|    1|                NULL|55.879999999999995|
|2024|    2|                NULL|              9.34|
|2024|    2|HOKA Clifton 9 Po...|             76.23|
|2024|    3|HOKA Clifton 9 Po...|             58.61|
|2024|    4|HOKA Clifton 9 Po...|             71.81|
|2024|    5|HOKA Clifton 9 Po...|             74.39|
|2024|    6|HOKA Clifton 9 Po...| 66.60000000000001|
|2024|    7|HOKA Clifton 9 Po...| 70.16999999999999|
|2024|    8|HOKA Clifton 9 Po...|             35.81|
|2024|    9|HOKA Clifton 9 Po...|             45.07|
|2024|   10|HOKA Clifton 9 Po...| 69.60999999999999|
|2024|   11|HOKA Clifton 9 Po...|54.019999999999996|
|2024|   12|HOKA Clifton 9 Po...|              41.5|
|2025|    1| HOKA Bondi 8 Błękit|             36.11|
|2025|    1|HOKA Clifton 9 Po...| 94.10000000000001|
+----+-----+--------------------+------------------+
only showing top 20 rows

In [ ]:
# SQL query to count runs by distance ranges
spark.sql("SELECT CASE WHEN `Distance` <= 5 THEN '<=5' WHEN `Distance` <= 10 THEN '<=10' WHEN `Distance` <= 15 THEN '<=15' WHEN `Distance` <= 20 THEN '<=20' ELSE '>20' END AS distance_range, COUNT(*) as count FROM run_df GROUP BY distance_range ORDER BY count").show()

+--------------+-----+
|distance_range|count|
+--------------+-----+
|          <=20|    3|
|           >20|    8|
|          <=15|   23|
|           <=5|   80|
|          <=10|  119|
+--------------+-----+

In [ ]:
# Example analysis: Average, total, and count of distances by month and year, ordered by total distance
run_df.groupBy(['Year', 'Month']) \
    .agg(
        F.avg('Distance').alias('Avg Distance'),
        F.sum('Distance').alias('Total Distance'),
        F.count('Distance').alias('Count')
    ) \
    .orderBy(['Year', 'Month']) \
    .show()

+----+-----+------------------+------------------+-----+
|Year|Month|      Avg Distance|    Total Distance|Count|
+----+-----+------------------+------------------+-----+
|2023|    8|3.9675000000000002|15.870000000000001|    4|
|2023|    9|5.5307692307692315|              71.9|   13|
|2023|   10| 7.705714285714287| 53.94000000000001|    7|
|2023|   11| 7.289999999999999|29.159999999999997|    4|
|2023|   12|             8.655|             34.62|    4|
|2024|    1| 9.313333333333333|55.879999999999995|    6|
|2024|    2| 8.556999999999999|             85.57|   10|
|2024|    3|            11.722|             58.61|    5|
|2024|    4| 7.978888888888889|             71.81|    9|
|2024|    5|             7.439|             74.39|   10|
|2024|    6| 6.054545454545456| 66.60000000000001|   11|
|2024|    7|10.024285714285712| 70.16999999999999|    7|
|2024|    8|            8.9525|             35.81|    4|
|2024|    9| 5.007777777777778|             45.07|    9|
|2024|   10| 4.972142857142856| 69.60999999999999|   14|
|2024|   11| 5.401999999999999|54.019999999999996|   10|
|2024|   12| 4.611111111111111|              41.5|    9|
|2025|    1|            6.5105|            130.21|   20|
|2025|    2| 6.568181818181818|             72.25|   11|
|2025|    3| 6.313846153846153|             82.08|   13|
|2025|    4| 9.859166666666667|            118.31|   12|
|2025|    5| 4.511428571428572|31.580000000000002|    7|
|2025|    6|           5.33625|             42.69|    8|
|2025|    7|4.1814285714285715|29.270000000000003|    7|
|2025|    8|          7.203125|            115.25|   16|
|2025|    9|11.513333333333334|             34.54|    3|
+----+-----+------------------+------------------+-----+

In [ ]:
# Alternative SQL query to get average, total, and count of distances by month and year
spark.sql("SELECT `Year`, `Month`, AVG(`Distance`) as avg_distance, SUM(`Distance`) as total_distance, COUNT(*) as count FROM run_df GROUP BY `Year`, `Month` ORDER BY `Year`, `Month`").show()

+----+-----+------------------+------------------+-----+
|Year|Month|      avg_distance|    total_distance|count|
+----+-----+------------------+------------------+-----+
|2023|    8|3.9675000000000002|15.870000000000001|    4|
|2023|    9|5.5307692307692315|              71.9|   13|
|2023|   10| 7.705714285714287| 53.94000000000001|    7|
|2023|   11| 7.289999999999999|29.159999999999997|    4|
|2023|   12|             8.655|             34.62|    4|
|2024|    1| 9.313333333333333|55.879999999999995|    6|
|2024|    2| 8.556999999999999|             85.57|   10|
|2024|    3|            11.722|             58.61|    5|
|2024|    4| 7.978888888888889|             71.81|    9|
|2024|    5|             7.439|             74.39|   10|
|2024|    6| 6.054545454545456| 66.60000000000001|   11|
|2024|    7|10.024285714285712| 70.16999999999999|    7|
|2024|    8|            8.9525|             35.81|    4|
|2024|    9| 5.007777777777778|             45.07|    9|
|2024|   10| 4.972142857142856| 69.60999999999999|   14|
|2024|   11| 5.401999999999999|54.019999999999996|   10|
|2024|   12| 4.611111111111111|              41.5|    9|
|2025|    1|            6.5105|            130.21|   20|
|2025|    2| 6.568181818181818|             72.25|   11|
|2025|    3| 6.313846153846153|             82.08|   13|
+----+-----+------------------+------------------+-----+
only showing top 20 rows